TECHNOVA_DB_HOST=localhost
TECHNOVA_DB_PORT=3307
TECHNOVA_DB_USER=technova_app
TECHNOVA_DB_PASSWORD=CAMBIA_ESTA_PASSWORD
TECHNOVA_DB_NAME=technova
TECHNOVA_SECRET_KEY=CAMBIA_ESTA_CLAVE_DE_64_O_MAS_CARACTERES
TECHNOVA_COOKIE_SECURE=0
FLASK_DEBUG=0
